name: Build & Publish Debug APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: write maps api key
        run: echo "MAPS_API_KEY=$MAPSAPIKEY" >> local.properties
      - name: Make Gradle executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Build Debug APK
        run: ./gradlew assemble
#      - name: Releasing using Hub
#        uses: ShaunLWM/action-release-debugapk@master
#        env:
#          GITHUB_TOKEN: ${{ secrets.TOKEN }}
#          MAPS_API_KEY: ${{ secrets.MAPSAPIKEY }}
#          APP_FOLDER: androidApp
#          RELEASE_TITLE: OnCall Pharmacy Android
